.counterWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 2px solid #60b9ea;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;

}

.buttonsWrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border: 2px solid #60b9ea;
  padding: 2rem;
  border-radius: 10px;
}