.inputWrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid #60b9ea;
  padding: 20px 10px;
  border-radius: 10px;
  color: #60b9ea;
  gap: 30px; // отступ между блоками Max value и Start value
  height: 180px;
  justify-content: center;
}

.settingInput {
  display: grid;
  grid-template-columns: 1fr 1fr; // label занимает минимальную ширину, input - все оставшееся
  column-gap: 10px;
  //align-items: center; // выравнивание по вертикали

}

.label {
  color: #60b9ea;
  font-size: 1.5rem; // уменьшил размер для лучшего отображения
  font-weight: 800;
  white-space: nowrap; // чтобы текст не переносился
  //display: contents;
  align-self: center;
}

.input {
  width: 100%; // занимает всю доступную ширину
  padding: 8px 12px;
  border: 2px solid #60b9ea;
  border-radius: 4px;
  font-size: 16px;
  color: #242424;
  //background: transparent;
}